<style>
		#st1 {text-align: left;color: brown;font-size: 30px}
		.st2 {text-align: left;}
		.st3 {text-align: center;}
		.color1{color:red!important}
		.color1{color:black!important}
		.homepage_heading{color:white;text-align: center;background:red;padding-top: :30px;padding-bottom:200px;  float: left; width: 500px;}
		.homepage_heading2{float:left;width:500px;text-align: center;color: white;background-color: brown;height: 240px;}
	</style>